doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Banking System
  link(rel='stylesheet' href='/CSS/styles.css')
.container
  // Header
  .header
    .header-menu.logo BS
    .header-menu
      ul
        li
          a(href='') Services
        li
          a(href='') Features
        li
          a(href='') Payments
    .header-menu.call-btn
      ul
        li
          a.signup-btn(href='') Sign Up
  // Body
  .body-container
    .main-content
      h2
        | Straight-forward way 
        br
        |  of  Digital Banking
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s
      .btn-container
        a.btn(href='') Get Started
    img(src='/IMG/bank.png' alt='')
