doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Banking System || Home
  link(rel='stylesheet' href='/CSS/login.css')
body
 .wrapper
    .form-title Login Form
    form(action='/login', method='POST')
        .input-field
            input(type='text', name='username', required)
            label Username
        .input-field
            input(type='password', name='password' required)
            label Password
        .forgot-password
            a(href='#') Forgot password?
        .input-field
            input(type='submit' value='Login')
        .register-link
            a(href='/signup') Register now