doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Banking System || Home
  link(rel='stylesheet' href='/CSS/register.css')
body
  .wrapper
    .form-title Registration Form
    form(action='/signup', method='POST')
      .input-field
        input(type='text', name='username', required)
        label(for='username') Username
      .input-field 
        input(type='password', name='password', required)
        label(for='password') Password
      .input-field
        input(type='password', name='password2', required)
        label(for='password2') Confirm password
      .input-field
        input#submit(type='submit' value='Register')
      .text
        p Already have an account?  
        a(href='/login') Login now